.container {
    align-items: center;
    display: flex;
    gap: 0.25rem;
}

.filledStar {
    color: var(--star-color);
}

.unfilledStar {
    color: var(--border-color);
}

.filledStar, .unfilledStar {
    background-color: transparent;
    border: none;
    display: flex;
    font-size: 1.25rem;
}