.container {
    align-items: center;
    display: flex;
    gap: 0.25rem;
}

.input {
    display: none;
}

.filledStar {
    color: var(--star-color);
}

.disabledFilledStar {
    color: var(--disabled-star-color);
}

.unfilledStar {
    color: var(--border-color);
}

.disabledUnfilledStar {
    color: var(--disabled-border-color);
}

.filledStar, .disabledFilledStar, .unfilledStar, .disabledUnfilledStar {
    background-color: transparent;
    border: none;
    display: flex;
    font-size: 1.25rem;
}