:root {
    --primary-text-color: #000;
    --secondary-text-color: #585858;
    --star-color: #ffb703;
    --border-color: #ccc;
    --background-color: #fff;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: var(--background-color);
}
